<nav>
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><i class="fa-solid fa-bars"></i></label>
  <div class="logo-holder logo-6">
    <a href="/">
      <h3>Pixel <span>& Pen</span></h3>
    </a>
  </div>

  <div class="wrapper">
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/articles">Articles</a></li>
        {% if session.logged_in %}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}
     </ul>
  </div>

</nav>