{% extends 'layout.html' %}

{% block body %}
  <h1 class="heading">Add Article</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <div class="form-container">
  <form method="POST" action="" class="login102-form ">
    <div class="form-group wrap-input100 validate-input">
      {{ render_field(form.title, class_="input100") }}
    </div>
    <div class="form-group wrap-input100 validate-input">
      {{ render_field(form.category,class_="input100") }}
    </div>
    <div class="form-group">
      {{ render_field(form.body,class_="input100", id="editor") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>
{% endblock %}

